_Softwarepraktikum Blockkurs März 2021 (WS2020/21)_

# Python Syntax 1[<sup>1</sup>](#fn1)

[Jörn Behrens](https://www.math.uni-hamburg.de/numgeo/) (joern.behrens@uni-hamburg.de)

## 1. Einführung und Ziel

Nachdem wir ein Notebook anlegen und ein paar einfache Beispielrechnungen erledigt haben, wollen wir nun die Python Syntax besser lernen. 

### Voraussetzungen

Wir benötigen ein neues Jupyter Notebook, gehen davon aus, dass Python 3 mit den Standard-Umgebungen vorhanden ist.

## 2. Python Konstrukte

Bevor wir wirklich einsteigen, noch eine Vorbemerkung: Damit wir unseren Code gut strukturieren und auch gleich kommentieren können benötigen wir kommentare. Die lassen sich mit einem `#` (hash) erzeugen. Alles was in einer Zeile nach dem `#` erscheint, wird nicht als ausführbarer Programmcode interpretiert, sondern ignoriert - es sei denn, es ist teil einer Zeichenkette (string).

In [ ]:
# dies ist ein Kommentar
x = 1 #Kommentar: der Variable x wird der Wert 1 zugewiesen.
s = "#dies ist kein Kommentar, sondern eine Zeichenkette!"
print(s)

### a. Elementare Datentypen

Python kennt verschiedene Datentypen:
* ganzzahlige Daten (int)
* reelwertige Daten (float) - eigentlich sind dies häufig Fließkommazahlen
* komplexe Daten (complex)

Wir werden diese Datentypen gleich anhand verschiedener Beispiele kennenlernen:

#### Int:

In [ ]:
a = 3+5*7
b = (60 - 5*6)/5 # Division erzeugt immer ein float
a,b

In [ ]:
17 / 3 # klassische Division erzeugt ein float

In [ ]:
f= 17 // 3 # 'floor division' Erhält nur den ganzzahligen Teiler
f

In [ ]:
r = 17 % 3 # Der %-Operator berechnet den Rest-Term der Division
r

In [ ]:
d = 3
e = f * d + r # ganzzahliger Teiler x Divisor + Rest = Ergebnis
e

In [ ]:
2 ** 5 # wir können auch exponenten rechnen mit '**'

In [ ]:
breite = 15 # schon zuvor haben wir das '=' Zeichen verwendet, um Variablen Werte zuzuweisen
länge = 50
fläche = breite * höhe # wenn wir aber auf eine Variable zugreifen, die nicht zuvor definiert wurde,
fläche                 # erhalten wir eine Fehlermeldung!

#### Float:

In [ ]:
5 * 4.2 - 1 # Rechnungen mit Fließkommazahlen gehen genauso wie mit int

#### Complex:

Einen guten Überblick über die numerischen Datentypen findet man im [Python tutorial](https://docs.python.org/3/library/stdtypes.html#typesnumeric). Um eine Zahl mit dem entsprechenden Datentyp zu erzeugen, können die funktionen `int()`, `float()` und `complex()` verwendet werden.

In [ ]:
z = complex(2,1) # hier definieren wir die komplexe Zahl z=2+i
z

In [ ]:
z.conjugate() # die Konjugierte von z

In [ ]:
z**3 # natürlich können wir mit komplexen Zahlen auch rechnen...

In [ ]:
3**z

#### Logische Operationen:

Die bisher genannten Datentypen können sortiert werden, daher sind logische Operationen wie
$$
< \quad > \quad \leq \quad \geq \quad \neq \quad =
$$
sinnvoll. Die entsprechenden Operationen sind
``` <   >   <=   >=    !=   == ```

In [ ]:
z2= complex(5)
z.real > z2.real

In [ ]:
a != b

### b. Zeichenketten - Strings:

Eine spezielle Klasse bilden die Strings (Datentyp `str`), also Zeichenketten. Eine Zeichenkette ist beispielsweise der Satz

 `Ein trauriger Tiger toastet Tomaten`

Eine Zeichenkette kann auf verschiedene Weisen erzeugt werden:

In [ ]:
s1 = 'Ein "trauriger" Tiger toastet Tomaten'
s2 = "Ein trauriger Tiger 'toastet' Tomaten"
s3 = '''Sehr Traurige Tiger toasten Tomaten schön'''
s4 = 'und isst sie alle auf'
v = 4 # benötigen wir gleich noch...

Mit Zeichenketten kann man auf verschiedene Arten arbeiten. Wir fangen hier mit der einfachsten an: Zeichenketten kombinieren und ausgeben.

In [ ]:
s1 # gib die Zeichenkette s1 wieder.

In [ ]:
print(s2) # der print Befehl kann auch Zeichenketten ausgeben, dabei werden die Begrenzungszeichen vermieden.

In [ ]:
print(s3)

Jetzt kombinieren wir zwei Zeichenketten und geben sie mittels `print` aus.

In [ ]:
print(s1 + ' ' + s4)

Schließlich noch ein Beispiel, in dem wir einen Zahlenwert in eine Zeichenkette verwandeln und diese dann in einen Ausgabetext einbinden:

In [ ]:
s5 = s1 + ' und tingelt mit ' + str(v) + ' Teilen zum tugendhaften Tanztee'
print(s5)

### c. Listen

Es gibt in Python drei verschiedene Arten oder Objekttypen von Listen:

* Listen: `list`
* Tupel: `tuple`
* Bereiche: `range`

Wir werden hier zunächst nur Listen und Bereiche behandeln. Eine Liste ist eine Sammlung von Daten gleichen Typs. Beispielsweise ein Vektor reeller Zahlen, oder eine Sammlung von Namen (Strings). Üblicherweise kann man Listen sortieren und einzelne Einträge einer Liste bearbeiten/auslesen/löschen, etc. Bereiche werden üblicherweise für die Konstruktion von Schleifen eingesetzt. Aber dazu kommen wir später.

In [ ]:
liste1 = [1, 2, 3]
liste2 = ['hunde','katzen','igel'] # ein Spaltenvektor

Wir testen jetzt verschiedene Operationen auf diesen Objekten.

In [ ]:
liste1 * 3 # der *-Operator multipliziert nicht etwa die Einträge einer Liste mit 3, sondern dupliziert die Liste 3-fach

In [ ]:
liste1[2] * 3 # Indizierung in Listen startet bei 0

In [ ]:
len(liste2) # die Länge der Liste ist 3, aber der höchste Index ist 2

In [ ]:
'Käse'+liste2[2] # Operationen mit dem Inhalt hängen vom (automatischen) Typ der Listenelemente ab

In [ ]:
liste2[0:3:2] # etwas irreführend ist, dass die Indizierung in der Colon-Notation immer bis zun n+1-ten Element läuft

In [ ]:
liste2.index('katzen') # suche den Index, an dem 'katzen' in der Liste auftaucht

Für die Mathematischen Objekte **Vektor** und **Matrix** eignen sich Listen aber nicht so gut. Hier kommt nun ein Modul-Paket ins Spiel, das wir später in diesem Kursus noch intensiver kennen lernen werden. Wir müssen nun also das Paket `NumPy` laden und mit der `array` Funktion die entsprechenden Objekte erzeugen.

Anschließend werden wir Vektoren erzeugen und mit ihnen diverse einfache Operationen ausführen.

In [ ]:
import numpy as np
zeil_vektor = np.array([[1,2,3]])
spal_vektor = np.array([[3],[2],[1]])

In [ ]:
zeil_vektor

In [ ]:
spal_vektor

In der Tat sind die meisten Linear-Algebra Operationen für Vektoren und Matrizen über Funktionen implementiert, so dass wir in der Regel gar nicht so genau darauf achten müssen, ob ein Vektor ein Zeilen- oder Spalten-Vektor ist. Aber hier sind ein paar, für die es wichtig sein kann. Die Vektor-Multiplikation ist nicht durch `*` sondern durch `@` implementiert. Alternativ kann auch die Funktion `dot` verwendet werden

In [ ]:
zeil_vektor @ spal_vektor # Skalarprodukt

In [ ]:
spal_vektor @ zeil_vektor # Rang-1-update

In [ ]:
np.dot(spal_vektor,zeil_vektor) # Das Gleiche mittels der Funktion dot

In [ ]:
M = np.dot(spal_vektor,zeil_vektor) # Matrix
M @ spal_vektor # Matrix-Vektor Multiplikation

In [ ]:
zeil_vektor @ M # Vektormultiplikation von links

In [ ]:
np.size(M) # Bestimme Matrix-Größe, hier wird die Anzahl der Elemente zurück gegeben

In [ ]:
d = np.ndim(M) # Bestimme die Anzahl der Dimensionen der Matrix M
M.shape[0:d]   # Bestimme die Matrix-Größe in jeder Dimension

In [ ]:
M.T # Transponiere M

## 3. Aufgaben

Jetzt sind Sie am Zug! Hier kommen ein paar Aufgaben, die Sie lösen können um im Umgang mit grundlegenden Datentypen in Python sicherer zu werden.

1. Berechnen Sie das Volumen eines Zylinders mit dem Radius 5m und der Höhe 12m. Sie können dabei die Konstante `pi` aus `NumPy` verwenden. Runden Sie auf ganze Meter (verwenden Sie `round`).
2. Wenn Sie wissen, dass der Erdumfang entlang des Äquators 40.075,017 km beträgt, wie groß ist dann der Durchmesser? Runden Sie wieder auf Meter.
3. Schreiben Sie einen Haiku (Japanische Gedichtform, mit drei Zeilen, und jeweils festgelegten Silbenzahlen 5-7-5). Bilden sie für jede Zeile eine Zeichenkette. Drucken Sie die Zeichenketten nacheinander aus. Erweitern Sie jede der Zeichenketten am Anfang um die Zeilenzahl.
4. Bilden Sie je eine Liste aus den Zeilennummern und den Zeilen Ihres Haikus und verknüpfen Sie die Listen, so dass jeweils Zeilennummer und Zeile zusammen gehören.

---
1) <span id="fn1">Copyright Notice:
    
    Python Syntax 1, Copyright (C) 2020  Jörn Behrens
    
        Prof. Dr. Jörn Behrens
        Universität Hamburg, Dept. Mathematik
        Bundesstrasse 55
        20146 Hamburg, Germany
        joern.behrens@uni-hamburg.de

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.


</span>